<div>
  <section fxLayout="column">
    <mat-label>Camera:</mat-label>
    <ul>
      <li>Camera id: {{photoData.camera.id}}</li>
      <li>Full name: {{photoData.camera.full_name}}</li>
      <li>Name: {{photoData.camera.name}}</li>
    </ul>
  </section>
  <section>
    <mat-label>Rover:</mat-label>
    <ul>
      <li>Rover id: {{photoData.rover.id}}</li>
      <li>Name: {{photoData.rover.name}}</li>
      <li>Launch Date: {{photoData.rover.launch_date}}</li>
      <li>Landing Date: {{photoData.rover.landing_date}}</li>
    </ul>
  </section>

</div>
